body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #1a0013; */
    background: rgb(26,0,19);
    background: linear-gradient( rgba(26,0,19,1) 0%, rgba(68,10,60,1) 53%, rgba(122,43,105,1) 100%);
    color: whitesmoke;
    margin-left: 10px;
    margin-top: 55px;
}
.topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.topnav a.active{
    background-color: #490f49;
    color: whitesmoke;
}
.topnav li{
    width: 25%;
}
footer {
    position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #160110c2;
  color: whitesmoke;
  text-align: center;
  font-size: 12px;
}
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #330033;
}

li {
    float: left;
}

li a {
    color: whitesmoke;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #490f49;
    color: whitesmoke;
}
/* index.html styles */
.logo {
    max-width: 17%;
    float: right;
    margin: 15px;
}
.presentation a{
    max-width: 33%;
    color: whitesmoke;
    padding: 16px;
}


.menu {
    display: inline-block;
}
.choCake {
    max-width: 20%;
    margin: 10px;
}
.choChips {
    max-width: 20%;
    margin: 10px;
}
.tresCake {
    max-width: 20%;
    margin: 10px;
}
.cinnamon {
    max-width: 20%;
    margin: 10px;
}
.mocha {
    max-width: 20%;
    margin: 10px;
}
.strawberry {
    max-height: 20%;
    max-width: 20%;
    object-fit: cover;
}
.sprinkles {
    max-width: 20%;
    margin: 10px;
}
/* order */


#desc {
    width: 50%;
    height: 100px;
}
/* bakers */
.cakesBake {
    text-align: left;
    padding: 5px;
    margin: 5px;
}
.topBake {
    text-align:left;
    padding: 5px;
    margin: 5px;
}
.orderTable {
    text-align: right;
    width: 100%;
    border-collapse: collapse;
}
.orderTable td {
    border: 2px solid #f2f2f2;
}
.orderBake {
    overflow-x: auto;
}
