body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a0013;
    color: whitesmoke;
    margin-left: 25px;
}
footer {
    position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #160110c2;
  color: whitesmoke;
  text-align: center;
}
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #330033;
}

li {
    float: left;
}

li a {
    color: whitesmoke;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #490f49;
    color: whitesmoke;
}
.logo {
    max-width: 17%;
    float: right;
    margin: 15px;
}
.choCake {
    max-width: 20%;
    margin: 10px;
}
.choChips {
    max-width: 20%;
    margin: 10px;
}
.tresCake {
    max-width: 20%;
    margin: 10px;
}
.cinnamon {
    max-width: 20%;
    margin: 10px;
}
.mocha {
    max-width: 20%;
    margin: 10px;
}
.strawberry {
    max-height: 20%;
    max-width: 20%;
    object-fit: cover;
}
.sprinkles {
    max-width: 20%;
    margin: 10px;
}
/* order */


#desc {
    width: 50%;
    height: 100px;
}
/* bakers */
.cakesBake {
    text-align: left;
    padding: 5px;
    margin: 5px;
}
.topBake {
    text-align:left;
    padding: 5px;
    margin: 5px;
}
.orderBake {
    text-align: right;
}