* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0px;
    font-family: Verdana, Tahoma, sans-serif;
}

.tabLink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tabLink:hover {
    background-color: #777;
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home {background-color: red;}
#About {background-color: green;}
#Work {background-color: purple}
#Contact {background-color: blue}
